@use "sass:math"

=bgc($sub, $bgc)
  .bgc-#{"" + $bgc}-#{$sub}
    background-color: $bgc

=c($sub, $c)
  .c-#{"" + $c}-#{$sub}
    color: $c

=d($sub, $d)
  .d-#{$d}-#{$sub}
    display: $d

=f-ac($sub, $f-ac)
  .f-ac-#{$f-ac}-#{$sub}
    align-content: $f-ac

=f-ai($sub, $f-ai)
  .f-ai-#{$f-ai}-#{$sub}
    align-items: $f-ai

=f-as($sub, $f-as)
  .f-as-#{$f-as}-#{$sub}
    align-self: $f-as

=f-jc($sub, $f-jc)
  .f-jc-#{$f-jc}-#{$sub}
    justify-content: $f-jc

=f-ji($sub, $f-ji)
  .f-ji-#{$f-ji}-#{$sub}
    justify-items: $f-ji

=f-js($sub, $f-js)
  .f-js-#{$f-js}-#{$sub}
    justify-self: $f-js

=flt($sub, $flt)
  .flt-#{$flt}-#{$sub}
    float: $flt

=fz($sub, $fz)
  .fz-d#{$fz}-#{$sub}
    font-size: #{100/$fz} + "%"

=fzd($sub, $fz, $d)
  .fzd-#{$fz + $d}-#{$sub}
    font-size: #{$fz + $d}

=h($sub, $h)
  .h-d#{$h}-#{$sub}
    height: #{100/$h} + "%"

=hd($sub, $h, $d)
  .hd-#{$h + $d}-#{$sub}
    height: #{$h + $d}

=m($sub, $m, $d)
  .m-#{$m + $d}-#{$sub}
    margin: #{$m + $d}

=p($sub, $p)
  .p-#{$p}-#{$sub}
    position: $p

=pa($sub, $pa, $d)
  .pa-#{$pa + $d}-#{$sub}
    padding: #{$pa + $d}

=w($sub, $w)
  .w-d#{$w}-#{$sub}
    width: #{100/$w} + "%"

=wd($sub, $w, $d)
  .wd-#{$w + $d}-#{$sub}
    width: #{$w + $d}

=xh($sub, $xh)
  .xh-d#{$xh}-#{$sub}
    max-height: #{100/$xh} + "%"

=xw($sub, $xw)
  .xw-d#{$xw}-#{$sub}
    max-width: #{100/$xw} + "%"

=gen()
  @each $color in black,gray,white
    +bgc($sub, $color)
    +c($sub, $color)
  @each $display in block,contents,flex,flow-root,grid,inherit,initial,inline,inline-block,inline-flex,inline-grid,inline-table,list-item,none,revert,table,table-caption,table-cell,table-column,table-column-group
    +d($sub, $display)
  @each $align in auto,baseline,center,end,flex-end,flex-start,inherit,initial,normal,revert,self-end,self-start,space-around,space-between,space-evenly,start,start,stretch,unset
    +f-ac($sub, $align)
    +f-ai($sub, $align)
    +f-as($sub, $align)
    +f-jc($sub, $align)
    +f-ji($sub, $align)
    +f-js($sub, $align)
  @each $float in inherit,initial,initial-end,initial-start,left,none,revert,right,unset
    +flt($sub, $float)
  @for $size from 0 through 128
    +fzd($sub, $size,px)
    +hd($sub, $size,px)
    +hd($sub, $size,vh)
    +m($sub, $size,px)
    +pa($sub, $size,px)
    +wd($sub, $size,px)
    +wd($sub, $size,vh)
  @for $div from 1 through 25
    +fz($sub, $div)
    +h($sub, $div)
    +w($sub, $div)
    +xh($sub, $div)
    +xw($sub, $div)
  @each $pos in revert,unset,absolute,fixed,inherit,initial,relative,static,sticky
    +p($sub, $pos)
