.bgc-black-s, header .nav3 div.logo {
  background-color: black;
}

.bgc-white-s, header {
  background-color: white;
}

.c-black-s, a {
  color: black;
}

.c-white-s {
  color: white;
}

.d-block-s {
  display: block;
}

.d-flex-s, header .nav3 .icons div.icon, header .nav3 a.logo {
  display: flex;
}

.d-grid-s {
  display: grid;
}

.d-inherit-s {
  display: inherit;
}

.d-initial-s {
  display: initial;
}

.d-inline-s {
  display: inline;
}

.d-none-s {
  display: none;
}

.d-table-s {
  display: table;
}

.f-ai-baseline-s {
  align-items: baseline;
}

.f-ai-center-s, header .nav3 .icons div.icon, header .nav3 a.logo {
  align-items: center;
}

.f-ai-flex-end-s {
  align-items: flex-end;
}

.f-ai-flex-start-s {
  align-items: flex-start;
}

.f-ai-inherit-s {
  align-items: inherit;
}

.f-ai-initial-s {
  align-items: initial;
}

.f-ai-stretch-s {
  align-items: stretch;
}

.f-jc-center-s {
  justify-content: center;
}

.f-jc-flex-end-s {
  justify-content: flex-end;
}

.f-jc-flex-start-s {
  justify-content: flex-start;
}

.f-jc-inherit-s {
  justify-content: inherit;
}

.f-jc-initial-s {
  justify-content: initial;
}

.f-jc-space-around-s, header .nav3 .icons div.icon, header .nav3 a.logo {
  justify-content: space-around;
}

.f-jc-space-between-s {
  justify-content: space-between;
}

.flt-inherit-s {
  float: inherit;
}

.flt-left-s, header .nav3 .icons div.icon, header .nav3 div.logo {
  float: left;
}

.flt-none-s {
  float: none;
}

.flt-right-s, header .nav3 .icons {
  float: right;
}

.fz-16px-s, header .nav3 .icons a.icon {
  font-size: 16px;
}

.h-d1-s, header .nav3 a.logo, header .nav3 div.logo {
  height: calc(100%/1);
}

.h-d2-s {
  height: calc(100%/2);
}

.h-d3-s {
  height: calc(100%/3);
}

.h-d4-s {
  height: calc(100%/4);
}

.h-d5-s {
  height: calc(100%/5);
}

.h-d8-s {
  height: calc(100%/8);
}

.h-d10-s {
  height: calc(100%/10);
}

.hd-64px-s {
  height: 64px;
}

.hd-48px-s, header .nav3 .icons div.icon, header .nav3 {
  height: 48px;
}

.hd-36px-s {
  height: 36px;
}

.hd-24px-s {
  height: 24px;
}

.hd-16px-s, header .nav3 img.logo {
  height: 16px;
}

.hd-8px-s {
  height: 8px;
}

.hd-4px-s {
  height: 4px;
}

.hd-2px-s {
  height: 2px;
}

.hd-1px-s {
  height: 1px;
}

.p-absolute-s {
  position: absolute;
}

.p-fixed-s, header {
  position: fixed;
}

.p-inherit-s {
  position: inherit;
}

.p-initial-s {
  position: initial;
}

.p-relative-s {
  position: relative;
}

.p-static-s {
  position: static;
}

.p-sticky-s {
  position: sticky;
}

.w-d1-s, header {
  width: calc(100%/1);
}

.w-d2-s {
  width: calc(100%/2);
}

.w-d3-s {
  width: calc(100%/3);
}

.w-d4-s {
  width: calc(100%/4);
}

.w-d5-s {
  width: calc(100%/5);
}

.w-d8-s {
  width: calc(100%/8);
}

.w-d10-s {
  width: calc(100%/10);
}

.wd-64px-s {
  width: 64px;
}

.wd-48px-s, header .nav3 .icons div.icon {
  width: 48px;
}

.wd-36px-s {
  width: 36px;
}

.wd-24px-s {
  width: 24px;
}

.wd-16px-s {
  width: 16px;
}

.wd-8px-s {
  width: 8px;
}

.wd-4px-s {
  width: 4px;
}

.wd-2px-s {
  width: 2px;
}

.wd-1px-s {
  width: 1px;
}

.wd-106px-s, header .nav3 a.logo {
  width: 106px;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  top: 0;
  z-index: 999;
}
header .nav3 .icons div.icon {
  border-left: 1px solid #eee;
}

/*# sourceMappingURL=styles.sass.css.map */
