a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}

nav {
  height: 48px;
}

div.nav-logo {
  background-color: black;
  height: 100%;
  float: left;
}

a.nav-logo {
  width: 106px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img.nav-logo {
  height: 16px;
}

div.nav-icons {
  float: right;
  height: 100%;
}

div.nav-ics {
  width: 48px;
  height: 48px;
  float: left;
  border-left: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a.nav-ics {
  font-size: 16px;
}

a.nav-ics-sch {
  color: #555;
}

a.nav-ics-menu {
  color: #f42;
}

section.latest-news {
  border: 1px solid black;
  margin-top: 60px;

  padding: 0 20px;
  padding-top: 24px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  letter-spacing: -.015em;
}

h2 > a {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
}
